#textdomain wesnoth-Wexlfu-6.6.1

#define REVEAL side multiturn x y
	# Remove shroud and lift fog (according to multiturn) for side by coordinates.
	[lift_fog]
		side={side}
		multiturn={multiturn}
		x={x}
		y={y}
	[/lift_fog]
	[remove_shroud]
		side={side}
		x={x}
		y={y}
	[/remove_shroud]
#enddef

#define HIDE side x y
	# Replace shroud and fog for side by coordinates.
	[place_shroud]
		[filter_side]
			side=1
		[/filter_side]
		x={x}
		y={y}
	[/place_shroud]

	[reset_fog]
		[filter_side]
			side=1
		[/filter_side]
		x={x}
		y={y}
		reset_view=yes
	[/reset_fog]
#enddef

#define ENSURE_VIEW
	# Ensure propagation of fog/shroud updates.
	[redraw]
		clear_shroud=yes
	[/redraw]
#enddef
